body {
    
    min-height: 100vh;
    width: 100%;
    background-color: $very-dark-blue;
    color: $white;
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content:center;
    position: relative;
    width: 100%;
    max-width: 500px;
    perspective: 1000px; /* Añadido para el efecto 3D */
    /* Añade una transición suave */
  
}
  
  .rating-card {
    @include childs-card-setup(0deg);
    
    
}
.thank-you-card {
    @include childs-card-setup(180deg);
     
}
.card.flip .rating-card {
    transition: transform 0.5s;
    transform: rotateY(180deg);
  }
  
  .card.flip .thank-you-card {
    transition: transform 0.5s;
    transform: rotateY(0deg);
  }